/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/typography";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/general/clearfix";
@import "compass/css3/transition";
@import "compass/layout.scss";
@include establish-baseline;

// typography settings
$base-font-size: 14px;
$base-line-height: 6px;

// Media queries breakpoints
// --------------------------------------------------
$screen-xs:                  480px;
$screen-sm:                  768px;
$screen-md:                  992px;
$screen-lg:                  1200px;

html {
  @include adjust-font-size-to(12px);
  @include adjust-leading-to(4);
  @media (min-width: $screen-sm){
  	@include adjust-font-size-to(14px);
  	@include adjust-leading-to(4);
  }
}

body{
	font-family: 'Gotham SSm A', 'Gotham SSm B', Arial, Sans;
	// font-family: 'Vitesse SSm A', 'Vitesse SSm B';
	font-weight: 400;
	font-style: normal;
	color: #333;
	-webkit-font-smoothing: antialiased;
}

// links
a{
	color: #ff3c48;
	font-weight: 700;
	@include transition-property(all);
  	@include transition-duration(0.25s);
	&:hover{
		color: #5ed2b5;
	}
}

i,em{
	font-style: italic;
}
b,strong{
	font-weight: bold;
}
small{
	font-size: 0.85em;
}


// general typography
p{
	margin: rhythm(1, 14px) auto rhythm(2, 14px);
}
h3{
	text-transform: uppercase;
	@include adjust-font-size-to(24px);
	font-weight: 400;
	text-align: center;
	font-family: 'Tungsten A', 'Tungsten B'; 
	padding: 16px 16px 0 8px;
	letter-spacing: 2px;
	color: #1bb0c4;
	@media (min-width: $screen-sm){
		padding: 16px 16px 0 16px;
	}
}


// header
header{
	h1{
		font-family: 'Tungsten A', 'Tungsten B'; 
		font-weight: 400; 
		font-style: normal;
		font-size: 18px;
		text-transform: uppercase;
		border: 2px solid #222;
		line-height: 1em;
		color: #fff;
		background: #222;
		letter-spacing: 1px;
		display: inline-block;
		padding: 6px 4px 6px 6px;
		position: absolute;
		top: 0;
		left: 0;
		z-index:99;
		@include transition-property(all);
  		@include transition-duration(0.25s);
		&:hover{
			color: #fff;
			background: #ff3c48;
			border-color: #ff3c48;
		}
		@media (min-width: $screen-sm){
			font-size: 32px;
			top: 16px;
			left: 16px;
		}
		
	}
}

// home banner
#home-banner{
	padding-top: 88px;
	padding-bottom: 32px;
	@include adjust-font-size-to(14px);
	@media (min-width: $screen-sm){
		@include adjust-font-size-to(16px);
	}
	// background: #ff3c48;
	// background: #1b3d72;
	background: #17253f;
	color: #fff;
	.banner-content{
		position: relative;
		width: 100%;
		max-width: 640px;
		margin: 0 auto;
		font-family: 'Vitesse SSm A', 'Vitesse SSm B';
		padding: 16px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		@media (min-width: $screen-sm){
			padding: 0;
		}
	}
	h1{
		font-family: 'Tungsten A', 'Tungsten B'; 
		font-weight: 400; 
		font-style: normal;
		@include adjust-font-size-to(38px);
		color: #fff;
		letter-spacing: 1px;
		line-height: 1em;
		margin-bottom: rhythm(1,38px);
		@media (min-width: $screen-sm){
			@include adjust-font-size-to(64px);
		}
	}
}

// banner
#project-banner{
	// background: #17253f;
	.banner-content{
		position: relative;
		width: 100%;
		max-width: 640px;
		margin: 0 auto;
	}
	h1{
		font-family: 'Tungsten A', 'Tungsten B'; 
		font-weight: 400; 
		font-style: normal;
		font-size: 42px;
		color: #333;
		letter-spacing: 1px;
		line-height: 1em;
		padding: 16px;
		@media (min-width: $screen-sm){
			font-size: 92px;
			position: absolute;
			padding: 0;
			bottom: 16px;
			left: 0px;
			color: #fff;
		}
	}
	img{
		width: 100%;
		@include transition-property(all);
  		@include transition-duration(0.5s);
	}
}





// content
.content{
	section, figcaption{
		width: 100%;
		max-width: 640px;
		margin: 0 auto;
		padding: 0 16px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		@media (min-width: $screen-sm){
			padding: 0;
		}
	}
	figure{
	text-align: center;
		img{
			max-width: 100%;
			height: auto;
		}
		figcaption{
			margin: rhythm(1, 14px) auto rhythm(8, 14px);	
			text-align: left;
		}
	}
	// project info
	section.meta{
		color: #bbb;
		padding-top: 16px;
		padding-bottom: 16px;
		@include clearfix;
		a{
			font-family: 'Tungsten A', 'Tungsten B'; 
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: #bbb;
			text-decoration: none;
			@include adjust-font-size-to(18px);
			border: 2px solid #bbb;
			padding-left: 5px;
			padding-right: 4px;
			margin-bottom: 16px;
			display: inline-block;
			&:hover{
				background: #ff3c48;
				border-color: #ff3c48;
				color: #fff;
			}
			@media (min-width: $screen-sm){
				float: right;
			}
			&.multi{
				float:none;
				margin-bottom: 0;
				margin-top: 16px;
			}
		}
		dl{
			@include adjust-font-size-to(11px);
			@media (min-width: $screen-sm){
				float: left;
				&.multi{
					float:none;
				}
			}
		}
		dd{
			display: inline
		}
		dt{
			font-weight: 700;
			font-family: 'Vitesse SSm A', 'Vitesse SSm B';
			text-transform: uppercase;
			letter-spacing: 1px;
			display: inline;
			&:before{
				content: "";
				display: block;
				clear: both;
			}
		}
	}
}
	




// article lists
.content.list{
	section{
		max-width: 1280px;
	}
	article{
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		padding: 4px;
		img{
			max-width: 100%;
			height: auto;
		}
		h1{
			font-family: 'Tungsten A', 'Tungsten B'; 
			font-weight: 400;
			@include adjust-font-size-to(24px);
			margin-bottom: rhythm(1, 24px);
			padding-left: rhythm(1, 24px);
			padding-top: rhythm(1, 24px);
			margin-top: - rhythm(1, 20px);
			border-top: 4px solid lighten(#1bb0c4, 50%);
		}
		a{
			text-decoration: none;
			color: #444;
			display: block;
			border: 4px solid lighten(#1bb0c4, 50%);
			&:hover{
				color: #ff3c48;
				border-color: #ff3c48;
				img{
					-webkit-filter: grayscale(100%);
				}
				h1{
					border-color: #ff3c48;
				}
			}
		}
		@media (min-width: $screen-sm){
			width: 50%;
			padding: 16px;
		}
		@media (min-width: $screen-md){
			width: 33.3333%;
			padding: 16px;
		}
		@media (min-width: $screen-lg){
			width: 33.3333%;
			padding: 16px;
		}
	}
}

// continue lists
.content.list.continue{
	@include clearfix;
	margin-top:24px;
	border-top: 4px solid lighten(#1bb0c4, 50%);
}

// footer
@include sticky-footer(54px);
#footer{
	font-size: 10px;
	padding: 16px;
	margin-top:24px;
}



// HJ DEMO
body.hj{
	font-family: 'schoolbook-web', Arial, Sans;
	color: #333;
	// font-family: 'freight-text-pro', Arial, Sans;
	// font-size: 18px;
	// line-height: 1.8em;
	@include adjust-font-size-to(16px);
	@include adjust-leading-to(4);
	@media (min-width: $screen-sm){
		@include adjust-font-size-to(18px);
		@include adjust-leading-to(4);
	}
	header h1{
		font-family: 'prenton', Arial, Sans;
		font-weight: 700;
		font-size: 14px;
		letter-spacing: 0;
	}
	#project-banner{
		text-align: center;
		padding-top: 0;
	}
	#project-banner h1{
		font-family: 'prenton', Arial, Sans;
		font-weight: 500;
		text-align: center;
		font-size: 28px;
		letter-spacing: 2px;
		line-height: 1.3em;
		text-transform: uppercase;
		
		// -webkit-font-smoothing: subpixel-antialiased;
		@media (min-width: $screen-sm){
			font-size: 56px;	
			bottom: 88px;
			display: block;
			width: 100%;
		}
	}
	#project-banner h2{
		font-family: 'prenton', Arial, Sans;
		font-weight: 500;
		display: block;
		width: 100%;
		text-align: center;
		font-size: 12px;
		margin-bottom: 24px;
		letter-spacing: 6px;
		line-height: 1.3em;
		text-transform: uppercase;
		// -webkit-font-smoothing: subpixel-antialiased;
		@media (min-width: $screen-sm){
			font-size: 18px;
			position: absolute;
			bottom: 32px;
			color: #fff;
		}	
	}
	h2,h3,h4{
		font-family: 'prenton', Arial, Sans;
		font-weight: 700;
	}
	h2{
		@include adjust-font-size-to(16px);
		@include adjust-leading-to(4);
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 2px;
	}
	h3{
		@include adjust-font-size-to(14px);
		@include adjust-leading-to(4);
		text-transform: none;
		font-weight: 700;
		letter-spacing: 0px;
		text-align: left;
		padding-left: 0;
		color: #222;
	}

	section{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.intro section{
		padding-top: 10px;
	}
	.recommendations{
		background: #A00202;
		color: #fff;
		a{
			color: #ECE8C7;
			&:hover{
				color: #fff;
			}
		}
	}
	.design{
		background: #A00202;
		color: #fff;
		a{
			color: #ECE8C7;
			&:hover{
				color: #fff;
			}
		}
	}
	.photography{
		background: #333 url(../images/photos-bg.jpg);
		background-attachment:fixed;
		background-size: cover;
		color: #fff;
		@media (min-width: $screen-sm){
			// min-height: 1000px;
		}
	}
	figcaption{
		font-style: italic;
		color: #999;
		font-size: 0.85em;
	}

	// example design stuff
	&.example{
		@media (min-width: $screen-sm){
		  	@include adjust-font-size-to(12px);
	  		@include adjust-leading-to(4);
	  	}
	  	@media (min-width: $screen-md){
		  	@include adjust-font-size-to(16px);
	  		@include adjust-leading-to(4);
	  	}
		#project-banner{
			background: url("../images/hj-example-cover.jpg") no-repeat center center fixed;
			background-attachment:fixed;
			background-size: cover;
			height: 340px;
			@media (min-width: $screen-sm){
				height: 600px;
			}
			position: relative;
			.banner-content{
				height: 100%;
				position: relative;
			}
			h1{
				top: 50%;
				position: absolute;
				color: #fff;
				left: auto;
				width: 100%;
				padding: 0;
			}
			h2{
				top: 50%;
				margin-top: 70px;
				position: absolute;
				color: #fff;
			}
		}
		.main-nav{
			background: #A00202;
			padding: 10px 20px;
			@include clearfix;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			@media (min-width: $screen-sm){
				position: relative;
			}
			img{
				float: left;
				margin-right: 20px;
				display: none;
				@media (min-width: $screen-md){
					display: block;
				}
			}
			.nav-btn{
				display:block;
				width: 24px;
				height: 32px;
				margin-right: 20px;
				float: left;
				.line{
					border-top: 2px solid #fff;
					margin-top: 6px;
				}
				@media (min-width: $screen-md){
					display: none;
				}
			}
			a.bookings{
				font-family: 'prenton', Arial, Sans;
				font-weight: 700;
				display: block;
				font-size: 15px;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: #fff;
				text-decoration: none;
				border: 2px solid #fff;
				padding: 0 8px;
				display: inline-block;
				float: right;
				margin-top: 0px;
				display: none;
				@media (min-width: $screen-md){
					margin-top: 10px;
					display: block;
				}
			}
			h1{
				display: inline-block;
				color: #fff;
				font-family: 'prenton', Arial, Sans;
				letter-spacing:2px;
				font-size: 18px;
				text-transform: uppercase;
				text-align: center;
				float: left;
				@media (min-width: $screen-md){
					display: none;
				}
			}
			nav ul{
				padding: 0;
				margin: 10px 0 0 0;
				display: none;
				@media (min-width: $screen-md){
					display: block;
				}
				li{
					float: left;
					margin: 0;
					padding: 10px;
					a{
						font-family: 'prenton', Arial, Sans;
						font-weight: 700;
						display: block;
						font-size: 15px;
						letter-spacing: 1px;
						text-transform: uppercase;
						color: #fff;
						text-decoration: none;
					}
				}
			}
		}
		.col{
			.inner{
				padding: 40px;
				text-align: center;
			}
			img{
				width: 100%;
				height: auto;
				margin-bottom: -11px;
			}
			width: 100%;
			
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			@media (min-width: $screen-sm){
				width: 50%;
				float: left;
				&.swap-order{
					float: right;
				}
			}
		}
		section{
			padding: 0;
			@include clearfix;
			// margin-bottom:-10px;
			background: #fff;
			a{
				font-family: 'prenton', Arial, Sans;
				font-weight: 500;
				display: block;
				font-size: 15px;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: #A00202;
				text-decoration: none;
				border: 2px solid #A00202;
				padding: 0 8px;
				display: inline-block;
			}
		}
		section.about{
			text-align: center;
			background: #f5ede4;
			.inner{
				max-width: 768px;
				padding: 40px;
				margin: 0 auto;
			}
		}
		section.footer{
			color: #ccc;
			background: #222;
			.inner{
				text-align: left;
			}
			font-family: 'prenton', Arial, Sans;
			b{
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing:1px;
			}
		}

	}

}