!!! 5

-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

-# <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
-# <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
-# <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
-# <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%html.no-js{:lang => "en"}

    %head

        -# ==========================================================================
        -# Head
        -# ==========================================================================

        %meta{:charset => "utf-8"}

        %title BBC Major Music Festivals | James Stackhouse
        %meta{:name => "description", :content => "BBC Major Music Festival template design and front-end development."}
        -# %meta{:name => "keywords", :content => ""}
        -# %meta{:name => "author", :content => ""}

        -# Mobile
        -# ==========================================================================

        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
        -# %meta{:name => "HandheldFriendly", :content => "True"}
        -# %meta{:name => "MobileOptimized", :content => "320"}

        -# iOS web app

        -# %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
        -# %meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black"}
        -# %link{:rel => "apple-touch-startup-image", :href => "/img/touch/startup.png"}

        -# RSS
        -# ==========================================================================

        -# %link{:rel => "alternate", :type => "application/rss+xml", :title => "RSS", :href => "http://feeds.feedburner.com/FEEDNAME"}

        -# Favicon
        -# ==========================================================================

        %link{:href => "/favicon.ico", :rel => "shortcut icon"}

        -# iPad 3 Retina Display

        -# %link{:rel => "apple-touch-icon-precomposed", :sizes => "144x144", :href => "/img/touch/apple-touch-icon-144x144-precomposed.png"}

        -# iPhone 4 Retina display

        -# %link{:rel => "apple-touch-icon-precomposed", :sizes => "114x114", :href => "/img/touch/apple-touch-icon-114x114-precomposed.png"}

        -# iPad non-Retina display

        -# %link{:rel => "apple-touch-icon-precomposed", :sizes => "72x72", :href => "/img/touch/apple-touch-icon-72x72-precomposed.png"}

        -# Non-Retina iPhone, iPod Touch, Android 2.1+

        -# %link{:rel => "apple-touch-icon-precomposed", :href => "/img/touch/apple-touch-icon-57x57-precomposed.png"}

        -# Nokia

        -# %link{:rel => "shortcut icon", :href => "/img/touch/apple-touch-icon.png"}

        -# CSS
        -# ==========================================================================

        %link{:rel => "stylesheet", :href => "//cloud.typography.com/7131052/621764/css/fonts.css"}
        %link{:rel => "stylesheet", :href => "stylesheets/screen.css"}
        -# %link{:rel => "stylesheet", :media => "only screen and (min-width: 45em)", :href => "/css/widescreen.css"}

        -# IE Fixes
        -# ==========================================================================

        -#
        -# Use HTML5 Shim polyfill if not using Modernizr
        -# Compiled IE stylesheets for legacy IE "Mobile first" support (using SASS)
        -# nicolasgallagher.com/mobile-first-css-sass-and-ie/
        -#

        -# /[if (lt IE 9) & (!IEMobile)]
            -# %script{:src => "//html5shim.googlecode.com/svn/trunk/html5.js"}
            -# %script{:src => "/js/libs/selectivizr.min.js"}
            -# %link{:rel => "stylesheet", :href => "/css/oldie.css"}
            -# %link{:rel => "stylesheet", :href => "/css/ie8.css"}

        -# [if (lt IE 8) & (!IEMobile)]
            %link{:rel => "stylesheet", :href => "/stylesheets/ie.css"}

        -# [if IE 6 & (!IEMobile)]
            %link{:rel => "stylesheet", :href => "/stylesheets/ie.css"}

        -# JS
        -# ==========================================================================
        :javascript
            document.cookie='resolution='+Math.max(screen.width,screen.height)+("devicePixelRatio" in window ? ","+devicePixelRatio : ",1")+'; path=/';

    %body

        -# ==========================================================================
        -# Content
        -# ==========================================================================

        -# = yield
        %header
            %a{href:"/"}
                %h1
                    Stack
                    %br
                    House
        %section#project-banner
            %img{src:"images/mmft-banner.jpg"}
            .banner-content
                %h1 BBC Major Music Festivals
        .content
            %section.meta
                %dl.multi
                    %dt Role:
                    %dd Visual design.
                    %dd Some font-end.
                    %dt Agency:
                    %dd Picture Ltd.
                %a.multi{href:"http://fahan.tas.edu.au"} T in the Park
                %a.multi{href:"http://fahan.tas.edu.au"} Sound of 2012
                %a.multi{href:"http://fahan.tas.edu.au"} Reading and Leads 2011
                %a.multi{href:"http://fahan.tas.edu.au"} Glastonbury 2011
            %section
                %p During my time at Picture, we were tasked to create templates with reusable content modules to aid Music Journalists in the field during major UK music festivals.
                %p These templates were designed to run with the BBC's 'Old Stack.' They were in no way powered by a CMS so markup had to be simple to allow the content teams to make quick edits.
            %figure
                %img{src: "images/mmft.png"}
            %section
                %p Custom skinning of components was done for each festival.
                %p With the release of the BBC's new stack 'Forge' these sites have been superceded by a far superior event CMS known as Evis.
            %figure
                %img{src: "images/mmft2.png"}
        .content.list.continue
            %section
                %h3 Selected Work
                %article
                    %a{href:"academy.html"}
                        %img{src:"images/academy-thumb.jpg", alt: "BBC Academy"}
                        %h1 BBC Academy
                %article
                    %a{href:"gel.html"}
                        %img{src:"images/gel-thumb.jpg", alt: "BBC GEL"}
                        %h1 BBC GEL
                %article
                    %a{href:"awm.html"}
                        %img{src:"images/awm-thumb.jpg", alt: "Australian War Memorial, London"}
                        %h1 Australian War Memorial, London
                %article
                    %a{href:"fahan.html"}
                        %img{src:"images/fahan-thumb.jpg", alt: "Fahan School"}
                        %h1 Fahan School
                %article
                    %a{href:"mmft.html"}
                        %img{src:"images/mmft-thumb.jpg", alt: "BBC Major Music Festivals"}
                        %h1 BBC Major Music Festivals
                %article
                    %a{href:"listening.html"}
                        %img{src:"images/listen-thumb.jpg", alt: "BBC Listening Project"}
                        %h1 BBC Listening Project        
        %footer#footer
            %small © 2014 \ James Stackhouse       
        
        -# jQuery

        %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
        :javascript
            window.jQuery || document.write('<script src="/js/jquery-1.7.2.min.js"><\/script>')

        -# Custom JS
        %script{:src => "/js/app-ck.js"}
        
        :javascript
            var _gaq=[['_setAccount','UA-47537665-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));