!!! 5

-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

-# <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
-# <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
-# <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
-# <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%html.no-js{:lang => "en"}

    %head

        -# ==========================================================================
        -# Head
        -# ==========================================================================

        %meta{:charset => "utf-8"}

        %title EXAMPLE HENRY JONES DESIGN  | James Stackhouse
        %meta{:name => "description", :content => "BBC Academy design and front end development"}
        -# %meta{:name => "keywords", :content => ""}
        -# %meta{:name => "author", :content => ""}

        -# Mobile
        -# ==========================================================================

        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
        -# %meta{:name => "HandheldFriendly", :content => "True"}
        -# %meta{:name => "MobileOptimized", :content => "320"}

        -# iOS web app

        -# %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
        -# %meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black"}
        -# %link{:rel => "apple-touch-startup-image", :href => "/img/touch/startup.png"}

        -# RSS
        -# ==========================================================================

        -# %link{:rel => "alternate", :type => "application/rss+xml", :title => "RSS", :href => "http://feeds.feedburner.com/FEEDNAME"}

        -# Favicon
        -# ==========================================================================

        %link{:href => "/favicon.ico", :rel => "shortcut icon"}

        -# iPad 3 Retina Display

        -# %link{:rel => "apple-touch-icon-precomposed", :sizes => "144x144", :href => "/img/touch/apple-touch-icon-144x144-precomposed.png"}

        -# iPhone 4 Retina display

        -# %link{:rel => "apple-touch-icon-precomposed", :sizes => "114x114", :href => "/img/touch/apple-touch-icon-114x114-precomposed.png"}

        -# iPad non-Retina display

        -# %link{:rel => "apple-touch-icon-precomposed", :sizes => "72x72", :href => "/img/touch/apple-touch-icon-72x72-precomposed.png"}

        -# Non-Retina iPhone, iPod Touch, Android 2.1+

        -# %link{:rel => "apple-touch-icon-precomposed", :href => "/img/touch/apple-touch-icon-57x57-precomposed.png"}

        -# Nokia

        -# %link{:rel => "shortcut icon", :href => "/img/touch/apple-touch-icon.png"}

        -# CSS
        -# ==========================================================================

        %script{:src => "//use.typekit.net/pdo0erq.js"}
        :javascript
            try{Typekit.load();}catch(e){}

        %link{:rel => "stylesheet", :href => "../stylesheets/screen.css"}
        -# %link{:rel => "stylesheet", :media => "only screen and (min-width: 45em)", :href => "/css/widescreen.css"}

        -# IE Fixes
        -# ==========================================================================

        -#
        -# Use HTML5 Shim polyfill if not using Modernizr
        -# Compiled IE stylesheets for legacy IE "Mobile first" support (using SASS)
        -# nicolasgallagher.com/mobile-first-css-sass-and-ie/
        -#

        -# /[if (lt IE 9) & (!IEMobile)]
            -# %script{:src => "//html5shim.googlecode.com/svn/trunk/html5.js"}
            -# %script{:src => "/js/libs/selectivizr.min.js"}
            -# %link{:rel => "stylesheet", :href => "/css/oldie.css"}
            -# %link{:rel => "stylesheet", :href => "/css/ie8.css"}

        -# [if (lt IE 8) & (!IEMobile)]
            %link{:rel => "stylesheet", :href => "/stylesheets/ie.css"}

        -# [if IE 6 & (!IEMobile)]
            %link{:rel => "stylesheet", :href => "/stylesheets/ie.css"}

        -# JS
        -# ==========================================================================
        :javascript
            document.cookie='resolution='+Math.max(screen.width,screen.height)+("devicePixelRatio" in window ? ","+devicePixelRatio : ",1")+'; path=/';
            
    %body.hj.example

        -# ==========================================================================
        -# Content
        -# ==========================================================================

        -# = yield
        / %header
        /     %a{href:"/"}
        /         %h1
        /             Stack
        /             %br
        /             House
        %section#project-banner
            .banner-content
                %h1 The Henry Jones
                %h2 ART HOTEL
        .main-nav.sticky
            .nav-btn
                .line
                .line
                .line
            %h1 Henry Jones
            %img{src:"../images/hj-round-logo.png"}
            %nav
                %ul
                    %li
                        %a{href:"#"} Our Story
                    %li
                        %a{href:"#"} Stay
                    %li
                        %a{href:"#"} Art
                    %li
                        %a{href:"#"} Eat &amp; Drink
                    %li
                        %a{href:"#"} Explore
                    %li
                        %a{href:"#"} Events
                    %li
                        %a{href:"#"} Contact
            %a.bookings{href:"#"} Bookings    
        %section.full.about
            .inner
                %h2 The Story
                %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia...
                %a{href:"#{}"} More
        %section.2col.stay
            .col
                %img{src:"../images/hj-stay.jpg"}
            .col
                .inner
                    %h2 Stay
                    %p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                    %a{href:"#{}"} The Suites
        %section.2col.art
            .col.swap-order
                %img{src:"../images/hj-art.jpg"}
            .col
                .inner
                    %h2 Art
                    %p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                    %a{href:"#{}"} View Art
            
        %section.2col.footer
            .col
                %img{src:"../images/hj-map.jpg"}
            .col
                .inner
                    %h2 Contact
                    %p 25 Hunter Street, Hobart, Tasmania, Australia, 7000
                    %p
                        %b Phone: 
                        03 6210 7700 
                    %p 
                        %b Int: 
                        +61 3 6210 7700
                    %p 
                        %b Fax:
                        03 6210 7755
                    %p 
                        %b Email:
                        reservations@thehenryjones.com
                    
                    %a{href:"https://twitter.com/TheHenryJones", class:"twitter-follow-button",} Follow @TheHenryJones
                    :javascript
                        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs')
        
        -# jQuery

        %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
        :javascript
            window.jQuery || document.write('<script src="/js/jquery-1.7.2.min.js"><\/script>')

        -# Custom JS
        %script{:src => "/js/app-ck.js"}
        
        :javascript
            var _gaq=[['_setAccount','UA-47537665-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));