/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 61, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%; }

/* line 64, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em; }

/* line 25, ../sass/screen.scss */
html {
  font-size: 0.85714em;
  line-height: 1.5em;
  line-height: 1.71429em; }
  @media (min-width: 768px) {
    /* line 25, ../sass/screen.scss */
    html {
      font-size: 1em;
      line-height: 1.28571em;
      line-height: 1.71429em; } }

/* line 34, ../sass/screen.scss */
body {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Arial, Sans;
  font-weight: 400;
  font-style: normal;
  color: #333;
  -webkit-font-smoothing: antialiased; }

/* line 44, ../sass/screen.scss */
a {
  color: #ff3c48;
  font-weight: 700;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s; }
  /* line 49, ../sass/screen.scss */
  a:hover {
    color: #5ed2b5; }

/* line 55, ../sass/screen.scss */
p {
  margin: 0.42857em auto 0.85714em; }

/* line 58, ../sass/screen.scss */
h3 {
  text-transform: uppercase;
  font-size: 1.71429em;
  line-height: 1.25em;
  font-weight: 400;
  text-align: center;
  font-family: 'Tungsten A', 'Tungsten B';
  padding: 16px 16px 0 8px;
  letter-spacing: 2px;
  color: #1bb0c4; }
  @media (min-width: 768px) {
    /* line 58, ../sass/screen.scss */
    h3 {
      padding: 16px 16px 0 16px; } }

/* line 75, ../sass/screen.scss */
header h1 {
  font-family: 'Tungsten A', 'Tungsten B';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  border: 2px solid #222;
  line-height: 1em;
  color: #fff;
  background: #222;
  letter-spacing: 1px;
  display: inline-block;
  padding: 6px 4px 6px 6px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s; }
  /* line 94, ../sass/screen.scss */
  header h1:hover {
    color: #fff;
    background: #ff3c48;
    border-color: #ff3c48; }
  @media (min-width: 768px) {
    /* line 75, ../sass/screen.scss */
    header h1 {
      font-size: 32px;
      top: 16px;
      left: 16px; } }

/* line 109, ../sass/screen.scss */
#home-banner {
  padding-top: 88px;
  padding-bottom: 32px;
  font-size: 1em;
  line-height: 1.28571em;
  background: #17253f;
  color: #fff; }
  @media (min-width: 768px) {
    /* line 109, ../sass/screen.scss */
    #home-banner {
      font-size: 1.14286em;
      line-height: 1.5em; } }
  /* line 120, ../sass/screen.scss */
  #home-banner .banner-content {
    position: relative;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    font-family: 'Vitesse SSm A', 'Vitesse SSm B';
    padding: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media (min-width: 768px) {
      /* line 120, ../sass/screen.scss */
      #home-banner .banner-content {
        padding: 0; } }
  /* line 134, ../sass/screen.scss */
  #home-banner h1 {
    font-family: 'Tungsten A', 'Tungsten B';
    font-weight: 400;
    font-style: normal;
    font-size: 2.71429em;
    line-height: 1.10526em;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1em;
    margin-bottom: 0.15789em; }
    @media (min-width: 768px) {
      /* line 134, ../sass/screen.scss */
      #home-banner h1 {
        font-size: 4.57143em;
        line-height: 1.125em; } }

/* line 152, ../sass/screen.scss */
#project-banner .banner-content {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 0 auto; }
/* line 158, ../sass/screen.scss */
#project-banner h1 {
  font-family: 'Tungsten A', 'Tungsten B';
  font-weight: 400;
  font-style: normal;
  font-size: 42px;
  color: #333;
  letter-spacing: 1px;
  line-height: 1em;
  padding: 16px; }
  @media (min-width: 768px) {
    /* line 158, ../sass/screen.scss */
    #project-banner h1 {
      font-size: 92px;
      position: absolute;
      padding: 0;
      bottom: 16px;
      left: 0px;
      color: #fff; } }
/* line 176, ../sass/screen.scss */
#project-banner img {
  width: 100%;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }

/* line 189, ../sass/screen.scss */
.content section, .content figcaption {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    /* line 189, ../sass/screen.scss */
    .content section, .content figcaption {
      padding: 0; } }
/* line 201, ../sass/screen.scss */
.content figure {
  text-align: center; }
  /* line 203, ../sass/screen.scss */
  .content figure img {
    max-width: 100%;
    height: auto; }
  /* line 207, ../sass/screen.scss */
  .content figure figcaption {
    margin: 0.42857em auto 3.42857em;
    text-align: left; }
/* line 213, ../sass/screen.scss */
.content section.meta {
  color: #bbb;
  padding-top: 16px;
  padding-bottom: 16px;
  overflow: hidden;
  *zoom: 1; }
  /* line 218, ../sass/screen.scss */
  .content section.meta a {
    font-family: 'Tungsten A', 'Tungsten B';
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #bbb;
    text-decoration: none;
    font-size: 1.28571em;
    line-height: 1.33333em;
    border: 2px solid #bbb;
    padding-left: 5px;
    padding-right: 4px;
    margin-bottom: 16px;
    display: inline-block; }
    /* line 231, ../sass/screen.scss */
    .content section.meta a:hover {
      background: #ff3c48;
      border-color: #ff3c48;
      color: #fff; }
    @media (min-width: 768px) {
      /* line 218, ../sass/screen.scss */
      .content section.meta a {
        float: right; } }
    /* line 239, ../sass/screen.scss */
    .content section.meta a.multi {
      float: none;
      margin-bottom: 0;
      margin-top: 16px; }
  /* line 245, ../sass/screen.scss */
  .content section.meta dl {
    font-size: 0.78571em;
    line-height: 1.63636em; }
    @media (min-width: 768px) {
      /* line 245, ../sass/screen.scss */
      .content section.meta dl {
        float: left; }
        /* line 249, ../sass/screen.scss */
        .content section.meta dl.multi {
          float: none; } }
  /* line 254, ../sass/screen.scss */
  .content section.meta dd {
    display: inline; }
  /* line 257, ../sass/screen.scss */
  .content section.meta dt {
    font-weight: 700;
    font-family: 'Vitesse SSm A', 'Vitesse SSm B';
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline; }
    /* line 263, ../sass/screen.scss */
    .content section.meta dt:before {
      content: "";
      display: block;
      clear: both; }

/* line 278, ../sass/screen.scss */
.content.list section {
  max-width: 1280px; }
/* line 281, ../sass/screen.scss */
.content.list article {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 4px; }
  /* line 288, ../sass/screen.scss */
  .content.list article img {
    max-width: 100%;
    height: auto; }
  /* line 292, ../sass/screen.scss */
  .content.list article h1 {
    font-family: 'Tungsten A', 'Tungsten B';
    font-weight: 400;
    font-size: 1.71429em;
    line-height: 1.25em;
    margin-bottom: 0.25em;
    padding-left: 0.25em;
    padding-top: 0.25em;
    margin-top: -0.3em;
    border-top: 4px solid #e3f8fb; }
  /* line 302, ../sass/screen.scss */
  .content.list article a {
    text-decoration: none;
    color: #444;
    display: block;
    border: 4px solid #e3f8fb; }
    /* line 307, ../sass/screen.scss */
    .content.list article a:hover {
      color: #ff3c48;
      border-color: #ff3c48; }
      /* line 310, ../sass/screen.scss */
      .content.list article a:hover img {
        -webkit-filter: grayscale(100%); }
      /* line 313, ../sass/screen.scss */
      .content.list article a:hover h1 {
        border-color: #ff3c48; }
  @media (min-width: 768px) {
    /* line 281, ../sass/screen.scss */
    .content.list article {
      width: 50%;
      padding: 16px; } }
  @media (min-width: 992px) {
    /* line 281, ../sass/screen.scss */
    .content.list article {
      width: 33.3333%;
      padding: 16px; } }
  @media (min-width: 1200px) {
    /* line 281, ../sass/screen.scss */
    .content.list article {
      width: 33.3333%;
      padding: 16px; } }

/* line 334, ../sass/screen.scss */
.content.list.continue {
  overflow: hidden;
  *zoom: 1;
  margin-top: 24px;
  border-top: 4px solid #e3f8fb; }

/* line 10, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%; }

/* line 12, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -54px; }
  /* line 18, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
  #root #root_footer {
    height: 54px; }

/* line 20, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 54px; }

/* line 342, ../sass/screen.scss */
#footer {
  font-size: 10px;
  padding: 16px;
  margin-top: 24px; }
